header
  background-color: #000
  color: #fff
  padding: 1em
  & ul
    display: flex
    justify-content: space-between
    & li
      list-style: none
      display: flex
      align-items: center
    & a
      text-decoration: none
    & img
      width: 12em
      
