#shipping-info
  text-align: center
  color: #fff
  background-color: #58595b

  & p

    &:nth-of-type(1)
      padding: .5em

      @media (min-width: 44em)
        display: none

    &:nth-of-type(2)
      display: none

      @media (min-width: 44em)
        display: block
        padding: .5em
